<div class="sticky_wrapper" id="sticky_${sticky_id}">
    <div class="sticky_wrapper sticky_header">
    </div>
    <div >
      <div class="sticky_wrapper content_container">
        ${details}
      </div>
      <div class="ok_button" data-sticky-id="${sticky_id}">
        <img src="/assets/ok.png" style="max-width: 20px">
      </div>
    </div>
  </div>