<div class="sticky_wrapper">
    <div class="sticky_wrapper sticky_header">
    </div>
    <div>
      <div class="sticky_wrapper content_container">
        Text area
      </div>
      <div>OK button
      </div>
    </div>
  </div>