<div class="sticky_wrapper" id="sticky_wrapper_${sticky_id}" data-sticky-id="${sticky_id}">
  <div class="header">
    <div class="delete_icon" data-sticky-id="${sticky_id}">
      <img alt="Delete" src="/assets/icons/delete.png" width="15" />
    </div>
  </div>
  <div >
    <div class="content_container" data-sticky-id="${sticky_id}">
      ${details}
    </div>
  </div>
</div>